<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281802745364-va8dhr9vr1gacka5rlmrn76dfkivo5ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281802745364-va8dhr9vr1gacka5rlmrn76dfkivo5ba</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>281802745364-dbm229eg2jjhni9jkfl81eridd0f74o6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxrtxPnnUAPXPVAXwHrRyxpbGqsvYOfws</string>
	<key>GCM_SENDER_ID</key>
	<string>281802745364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sharePhotoframeController</string>
	<key>PROJECT_ID</key>
	<string>share-photoframe-controller</string>
	<key>STORAGE_BUCKET</key>
	<string>share-photoframe-controller.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281802745364:ios:c06c6cc98d5bd5acfbe901</string>
</dict>
</plist>